<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="SuiteMain" verbose="1">
	<test name="RegressionMain">
		<groups>
			<run>
				<exclude name="manual" />
				<exclude name="server" />
			</run>
		</groups>
		<packages>
			<package name="pl.*" />
		</packages>
	</test>
</suite>